@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

html::-webkit-scrollbar{
        width:1rem;
}
html::-webkit-scrollbar-track{
        background:#2b2b2c;
}
html::-webkit-scrollbar-thumb{
        background: #222;
}



body {
    background: #111;
    overflow-x: hidden;
}
section{
    padding: 3rem 9%;

}


.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 4rem;
    font-size: 1.7rem;
    color: #29d9d5;
    border: 0.3rem solid ;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
}

.btn:hover {
    background-color: #29d9d5;
    color: #222;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #222;
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 1.5rem 9%;
}




.header .navbar a {
    font-size: 1.7rem;
    color: #aaa;
    display: inline-block;
    margin: 0.1rem;
    padding: 5px;
}

.header .navbar a:hover {
    color: #29d9d5;
}

.logo {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
}

.logo i {
    color: #29d9d5;
    padding-right: 0.5rem;
}

#menu-btn{
    font-size: 2.5rem;
    color:#fff;
    cursor:pointer;
    display:none;

}

.home {
    
    margin: 10rem auto;
    width: 90%;
    border-radius: 1rem;
    background: url("images/wallpaper\ home.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}
.home .content{
    text-align: center;
    

}
.home .content span{
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: .1rem #fff;
    font-size: 3vw; 
    display: block; 
}

.home .content h3{
    font-size: 4vw;
    color:#fff;

}
.home .content p{
    max-width: 60rem;
    margin: 1rem auto;
    font-size: 1.4rem;
    color:#fff;
    line-height:2;
    text-transform: initial;
}

.book-form {
    width: 80%;
    margin: 1rem auto;
    margin-top: -9rem; 
    background: #222;
    border-radius: 0.5rem;
    box-shadow: 0 .5rem 1rem rgba(17, 17, 17, .3); 
    padding: 3rem 2rem;
}

.book-form form {
    display: inline-flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 1.5rem; 
}

.book-form form .inputBox {
    flex: 1 1 25rem;
    padding-inline: 2rem;
}

.book-form form .inputBox span {
    font-size: 1.4rem;
    color: #fff; 
}

.book-form form .inputBox input {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border-radius: 4rem;
    border: 0.3rem solid #29d9d5; 
    font-size: 1.6rem;
    color: #545959;/**/
    text-transform: none;
    background: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.book-form form .btn {
    margin-top: 2rem;
    margin-bottom: 1rem;
    flex:1 1 10rem;
    padding:1.2rem 1.1rem;
   
    
    
    
    

    
}

.about{
    display:flex;
    align-items: center;
    flex-wrap:wrap;
    padding:10rem;
    margin-top: 0.1rem;
    margin-bottom: -9rem;
    

}
.about .image-container{
    flex:1 1 30rem;
    margin-bottom:2rem;
    overflow:hidden;
}
.about .image-container .image{
    border-radius: 6rem;
    width: 100%;
    height:auto;

}




.about .content{
    flex:1 1 42rem;
    margin-bottom: 5rem;
    padding-left:2rem;

}
.about .content span{
    color:#29d9d5;
    font-size:2rem;

}
.about .content h3{
    color:#fff;
    font-size: 4rem;
    margin-top: .3rem;
}
.about .content p{
    padding:1rem 0;
    font-size: 1.4rem;
    color:#fff;
    line-height:2;
    margin-bottom: .2rem;
    text-transform: initial;
}

.destination{
    align-items: center;
    padding:10rem;
    margin-top: 0.2rem;
    text-align: center;

}
.destination .heading{
    text-align:center;
    margin-bottom: 2rem;
    
}
.destination .heading span{
    color:#29d9d5;
    font-size:4rem;

}
.destination .heading h1{
    color:#fff;
    font-size:5rem;


}
.destination .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;

}
.destination .box-container .box{
    border-radius: 1rem;
    overflow:hidden;
    background: #222;

}
.destination .box-container .box .image{
    height:20rem;
    overflow:hidden;
    width:100%;

}
.destination .box-container .box .image img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.destination .box-container .box:hover img{
    transform:scale(1.1)
}
.destination .box-container .box .content{
    padding:2rem;
    text-align:center;

}
.destination .box-container .box .content h3{
    font-size:2rem;
    color:#fff;

}
.destination .box-container .box .content p{
    display:none;
    padding:1rem 0;
    font-size: 1.4rem;
    color:#fff;
    line-height:2;
    max-height:6rem;
    text-transform: initial;
    overflow:hidden;
}
.destination .box-container .box .content a{
    font-size: 1.7rem;
    color:#29d9d5;


}
.destination .box-container .box .content a:hover i{
    padding-left:1rem;


}



.services{
    align-items: center;
    padding:10rem;
    margin-top:0.1rem;
    text-align: center;

}
.services .heading{
    text-align:center;
    margin-bottom: 2rem;
    
}
.services .heading span{
    color:#29d9d5;
    font-size:4rem;

}
.services .heading h1{
    color:#fff;
    font-size:5rem;


}
.services .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:20px

}
.services .box-container .box{
    background: #222;
    border-radius: 1rem;
    padding:3rem ;
    text-align: center;
    border: .2rem solid #111;
    
}
.services .box-container .box:hover{
   transform: scale(1.1);

}

.services .box-container .box i{
    font-size: 4rem;
    color:#29d9d5;
    margin-bottom: 1rem;

}
.services .box-container .box h3{
    font-size:2rem;
    color:#fff;

}
.services .box-container .box p{
    padding:1rem 0;
    font-size: 1.4rem;
    color:#fff;
    line-height:2;
    max-height:6rem;
    overflow:hidden;

}



.gallery{
    align-items: center;
    padding:10rem;
    margin-top:0.1rem;
    text-align: center;

}
.gallery .heading{
    text-align:center;
    margin-bottom: 2rem;

}

.gallery .heading span{
    color:#29d9d5;
    font-size:4rem;

}
.gallery .heading h1{
    color:#fff;
    font-size:5rem;


}

.gallery .box-container{
    columns:3 25rem;
    column-gap: 1.5rem;


}
.gallery .box-container .box{
    margin-bottom: 1rem;
    break-inside: avoid;
    

}
.gallery .box-container .box img{
    width:100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.gallery .box-container .box span{
    font-size:1.4rem;
    color:rgb(47, 98, 108);
}
.gallery .box-container .box h3{
    margin-top: .5rem;
    font-size:2rem;
    color:#fff;

}



.review{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    margin-top:0.2rem;

}
.review .content{
    flex:1 1 42rem;
    margin-bottom: 5rem;
    padding-left:2rem;
}
.review .content span{
    font-size:2rem;
    color:#29d9d5;


}
.review .content h3{
    font-size:3rem;
    color:#fff;
}
.review .content p{
    font-size:1.4rem;
    color:#fff;
    padding:1rem 0;
    line-height: 2;
}
.review .box-container{
    flex:1 1 42rem;
    display:flex;
    flex-wrap:wrap;
    gap: 1.5rem;

}
.review .box-container .box{
    flex:1 1 20rem;
    border-radius:1rem;
    padding:2rem;
    background:#222;

}
.review .box-container .box p{
    font-size: 1.4rem;
    padding-bottom: 1rem;
    line-height:2;
    color:#29d9d5;
    
}
.review .box-container .box .user{
    display:flex;
    align-items: center;
    gap:1rem;
}
.review .box-container .box .user img{
    height:5rem;
    width:5rem;
    border-radius: 50%;
}








.banner {
    background: url("images/wallpaper\ home.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding:3rem 2rem;
    background-attachment: fixed;
    text-align:center;
}
.banner .content span{
    font-size: 2rem;
    color:#29d9d5;


}
.banner .content h3{
    font-size: 4rem;
    color:#fff;
    margin-top: 1rem;

}
.banner .content p{
    max-width: 60rem;
    margin: 1rem auto;
    font-size: 1.4rem;
    color:#fff;
    line-height:2;
    text-transform: initial;
    
}





.footer .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:20px;


}
.footer .box-container .box{
    padding:1rem 1;
}
.footer .box-container .box .logo{
    padding-bottom: 1rem;


}


.footer .box-container .box h3{
    font-size:2.2rem;
    color:#fff;
    padding:1rem 1rem;
    
}
.footer .box-container .box p{
    text-transform: initial;
    font-size:1.4rem;
    color:#fff;
    padding:1rem 0;
    line-height: 2;


}



.footer .box-container .box i{
    padding-right: .5rem;
    color:#29d9d5;
}
.footer .box-container .box .share{
    padding-top: 1rem;
   

}
.footer .box-container .box .share a{
    height:4.5rem;
    width:4.5rem;
    line-height: 4rem;
    font-size: 2rem;
    border-radius: 50%;
    font-size: 2rem;
    border:.2rem solid blue;
    color:#29d9d5;
    margin-right:.5rem;
    text-align: center;

}
.footer .box-container .box .share a:hover{
    background: #29d9d5;
    color:#fff;


}
.footer .box-container .box .links{
    font-size: 1.4rem;
    color:#29d9d5;
    padding: 1rem 0;
    display: block;
    margin-left: 2rem;
}
.footer .box-container .box .links:hover{
    color:#29d9d5;

}
.footer .box-container .box .links:hover i{
    padding-right: 2rem;
    
}
.footer .box-container .box .links i{
    padding-right: .5rem;
    color:#29d9d5;
    margin-left: 5rem;
}


.footer .box-container .box form .email{
    width:100%;
    border-radius: 5rem;
    border:.2rem solid #29d9d5;
    background:none;
    font-size:2rem;
    text-transform: none;
    color:#fff;
    margin-top: 1rem;
    margin-bottom:1rem;
    padding:1.2rem 1.1 rem;



}


.review{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    gap:2rem;

}
.review .content{
    flex:1 1 42rem;
}
.review .content span{
    font-size: 2rem;
    color:#29d9d5;

}
.review .content h3{
    font-size:3rem;
    color:#fff;

}
.review .content p{
    font-size:1.4rem;
    color:#fff;
    padding:1rem 0;
    line-height: 2;
    text-transform:initial;
    
}
.review .box-container{
    flex: 1 1 42rem;
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
}
.review .box-container .box{
    flex:1 1 20rem;
    border-radius: 1rem;
    padding:2rem;
    background:#222;

}
.review .box-container .box h3{
    color:#29d9d5;
    font-size: 1.4rem;

}
.review .box-container .box span{
    color:#29d9d5;

}
.review .box-container .box p{
    font-size:1.4rem;
    padding-bottom: 1rem;
    line-height: 2;
    color:#fff;
    text-transform: initial;
}


































/* Media query for screens up to 991px wide */
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    .header {
        text-align: center; 
        padding: 1.5rem 2rem; 
    }
    section{
        padding: 3rem 2rem;
    
    }
}

/* Media query for screens up to 768px wide */
@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }
    .header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #222;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition:all 0.3s ease; 
    }
    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar a {
        margin: 2rem;
        font-size: 2rem;
        display: block;
        text-align:left;
       
    }
    .header .navbar .home{
        margin-top: 10rem;

    }
    .header .navbar .home .content .span{
        font-size: 8vw;

    }
    .header .navbar .home .content .h3{
        font-size: 9vw;
    }

}


/* Media query for screens up to 450px wide */
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}
